/* ----- api github ------------------------------------------- */
.api-github {
  display: flex;
  justify-content: center;
  background: var(--color-background);
  position: relative;
  flex-wrap: wrap;
}

.api-github .card {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: var(--color-background);
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.api-github .card:hover {
  transform: translateX(10px);
}

.api-github .card a {
  color: var(--color-text);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  padding: 10px;
  padding-top: 140px;
  font-family: var(--fonts);
  font-size: 20px;
}

.api-github .card footer {
  text-align: center;
  margin-top: 110px;
  font-size: 15px;
}
